

/* Estilos para cada sección de información de contacto */
.contact-info {
  padding: 20px;
  border-radius: 10px;
  background-color: transparent; /* Sin fondo */
  transition: transform 0.2s; /* Animación suave */
}

.contact-info:hover {
  transform: translateY(-5px); /* Elevación al pasar el mouse */
}

/* Títulos con negrita */
h5 {
  font-weight: bold;
}

/* Estilos personalizados para los íconos */
.phone-icon,
.gmail-icon {
  color: #6c757d; /* Color gris sutil */
  font-size: 1.2rem; /* Tamaño más pequeño para los íconos */
}

.contact-link {
  color: #007bff; /* Azul estándar para enlaces */
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: underline; /* Subrayado al pasar el mouse */
}
/* Estilos personalizados para el botón */
.contact-form button[type="submit"] {
  background-color: #6fb98f; /* Verde suave */
  color: #ffffff; /* Texto en blanco */
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones suaves */
}

.contact-form button[type="submit"]:hover {
  background-color: #4e8c6f; /* Color ligeramente más oscuro al pasar el ratón */
  transform: scale(1.05); /* Ligero aumento de tamaño al pasar el ratón */
}

.contact-form button[type="submit"]:active {
  background-color: #3e6e56; /* Color más oscuro al hacer clic */
  transform: scale(0.98); /* Efecto de presión */
}
