.pagination {
    margin-top: 20px; /* Espaciado entre los productos y la paginación */
}

.pagination .page-item {
    margin: 0 5px; /* Espaciado entre los elementos de paginación */
}

.pagination .page-link {
    cursor: pointer; /* Cambia el cursor a mano */
    color: #6c757d; /* Cambia el color del texto a un gris suave */
    border: 1px solid #dee2e6; /* Borde gris claro */
    background-color: #f8f9fa; /* Fondo gris muy claro */
    border-radius: 5px; /* Bordes redondeados */
    padding: 8px 12px; /* Aumenta un poco el padding para más espacio */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones suaves */
}

.pagination .page-link:hover {
    background-color: #e2e6ea; /* Color de fondo suave al pasar el cursor */
    color: #495057; /* Color de texto más oscuro al pasar el cursor */
}

.pagination .page-item.disabled .page-link {
    pointer-events: none; /* Desactiva el puntero en elementos deshabilitados */
    color: #adb5bd; /* Color gris claro para el enlace deshabilitado */
    background-color: #f1f3f5; /* Fondo más claro para elementos deshabilitados */
}

.pagination .active .page-link {
    background-color: #adb5bd; /* Color de fondo suave para la página activa */
    color: white; /* Color del texto blanco para la página activa */
    border-color: #adb5bd; /* Borde igual al fondo */
}
