.productos-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  color: #f8f9fa; /* Texto claro */
}

.sort-by-container {
  display: flex;
  justify-content: flex-end; /* Alinea el contenido a la derecha */
  align-items: center; /* Centra verticalmente */
  margin-right: 15px; /* Espaciado a la derecha */
}

.orden-select-elegante {
  margin-left: 10px; /* Espacio entre la etiqueta y el menú desplegable */
  padding: 0.5rem; /* Ajusta el tamaño del menú desplegable */
}

.text-label {
  color: gray; /* Cambia a cualquier tono de gris que prefieras */
}

/* Estilos para las tarjetas de productos */
.producto-card {
  width: 100%;
  max-width: 300px;
  text-align: center;
  padding: 20px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.producto-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

/* Estilos para los íconos de WhatsApp */
.boton-sutil {
  background-color: #25D366; /* Color de fondo de WhatsApp */
  color: white;
}

/* Estilos de zoom para la imagen del producto */
.zoom-img {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.zoom-img:hover {
  transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
}

/* Estilo para el input de cantidad */
.cantidad-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cantidad-input {
  width: 60px; /* Asegura que el campo de cantidad tenga un ancho adecuado */
  text-align: center; /* Centra el texto en el input */
  border: 1px solid #ccc; /* Agrega un borde suave */
  border-radius: 5px; /* Bordes redondeados */
  margin-left: 10px; /* Espacio a la izquierda */
  margin-right: 10px; /* Espacio a la derecha */
}

.cantidad-input::-webkit-inner-spin-button,
.cantidad-input::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  margin: 0;
}



/* Estilos para el sidebar */
.sidebar {
  background-color: #343a40; /* Color del fondo del sidebar */
  padding: 20px;
  border-radius: 10px;
}

.sidebar-item {
  cursor: pointer;
  color: #f8f9fa; /* Color claro para el texto del sidebar */
}

.sidebar-item.active {
  background-color: #007BFF; /* Color de fondo activo */
  color: white; /* Color del texto activo */
}

/* Estilos para los botones */
.boton-sutil {
  margin: 20px auto;
  display: block;
  background-color: #25D366; /* Color de fondo de WhatsApp */
  color: white; /* Texto en blanco para contraste */
  border: none; /* Sin bordes */
  padding: 10px 20px; /* Espaciado interno para un mejor tamaño */
  border-radius: 5px; /* Bordes redondeados para suavizar el aspecto */
  font-size: 16px; /* Tamaño de fuente para mayor legibilidad */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.boton-sutil:hover {
  background-color: #1DAE4B; /* Color más oscuro al pasar el mouse */
}


.producto-titulo {
  font-size: 1.2rem; /* Tamaño de fuente para destacar el título */
  font-weight: bold;
  margin-bottom: 8px;
  color: #333; /* Color oscuro para visibilidad */
}

.producto-descripcion {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-size: 14px;
  margin-bottom: 2;
  letter-spacing: -0.4px; /* Ajusta el espaciado de las letras */
}




.producto-precio {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  margin-top: 5px;
}
